<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <script src="frameworks/angular-1.4.0/angular.min.js"></script>
    <script>
        angular.module("app",[])
                .controller("oneCtrl",["$scope",function ($scope) {
                    $scope.arr = [{
                        id:1,
                        name:"简单"
                    },{
                        id:2,
                        name:"中等"
                    },{
                        id:3,
                        name:"难"
                    }];
                    $scope.level = 1;
                    $scope.level2 = $scope.arr[1];
                    $scope.level3 = 2;
                }]);
    </script>
</head>
<body ng-controller="oneCtrl">
<select ng-model="level">
    <option value="{{level.id}}" ng-repeat="level in arr">{{level.name}}</option>
</select>
level:{{level}}
<br>
<select ng-model="level2" ng-options="level2.name for level2 in arr"></select>
level2:{{level2}}
<br>
<!--绑定数组中的一个数组的一个属性-->
<select ng-model="level3" ng-options="level3.id as level3.name for level3 in arr"></select>
level3:{{level3}}
</body>
</html>